.pet-input{
  ::v-deep.uni-easyinput__content{
    background-color:#7E34250F !important;
    border-radius: 32rpx;
    min-height: 90rpx;
    input{
      color:#402B2C!important;
    }
    &.is-textarea{
      textarea{
        margin-left: 12rpx;
      }
    }
    &.is-disabled{
      color:#402B2C!important;
    }
  }
  .pet-form-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pet-form-item-label{
      font-family: PingFang SC;
      font-weight: 400;
      font-style: Regular;
      font-size: 32rpx;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color:#402B2C;
    }
  }
  ::v-deep.uni-forms-item__label {
    font-family: PingFang SC;
    font-weight: 400;
    font-style: Regular;
    font-size: 32rpx;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#402B2C;
    &.no-label{
      display: none;
    }
  }

  ::v-deep.uni-data-checklist{
    .radio__inner{
      opacity: 1 !important;
    }
    .checklist-text{
      opacity: 1 !important;
    }
  }
}


